* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.container {
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container div {
  width: 70px;
  height: 4px;
}
.container div:first-child {
  margin-bottom: 15px;
}
.container div:nth-child(2) {
  margin: 8px 0;
}
.container div:last-child {
  margin-top: 10px;
}

/* div2 hidden */
.div2-hidden {
    display: none;
  
}
.div3-hidden {
  transition: all 0.8s;
  margin-top: -18px !important;
  transform: rotate(-50deg);
}
.div1-hidden {
  transition: all 0.8s;
  transform: rotate(50deg);
}
